.image {
  transition: all 250ms;
  width: 300px;
  height: 300px;
  padding: 2rem;
}

.container {
}

.row {
  scroll-snap-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
}

.row-enter {
  opacity: 0;
}
.row-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.row-exit {
  opacity: 1;
}
.row-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.image_use_case {
  transition: all 250ms;
  width: 450px;
  aspect-ratio: 1.5;
  padding: 2rem;
}

.image:hover {
  transform: translateX(0.5rem) translateY(-0.2rem) scale(1.02);
}

.first_row_text {
  text-align: center;
}

.word_anim {
  transition: all 250ms;
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  text-transform: uppercase;
}

.word_anim:hover {
  transform: translateY(-0.5rem);
  filter: contrast(2);
}
